extend base.pug

block scripts 
block style 
    style 
        include ../static/style.css 
        include ../static/styleabout.css 
block content
    section#aboutus 
        div#put
            h1 About Us 
        div#about 
            p This is a project i've made to sharpen my web developing skills. It uses css,html,javascript.Others elements involved are pug template,node js, vs code,etc. I hope to submit this on git hub so it is easily accesible to all.
block footer 
    footer#aboutfoot 
        p  Copyright@2023 Do Better.com | All rights reserved                  