doctype html 
html 
    head 
        title Be Better 
        style 
            include ../static/style.css 
    body 
        nav#navbar 
            img(src='/static/awareness-4264012_1280.jpg')
            ul 
                li #[a(class='navlist' href='#') Home]
                li #[a(class='navlist' href='#') Info]
                li #[a(class='navlist' href='#') Volunteer]
                li #[a(class='navlist' href='#') About Us]
                li #[a(class='navlist' href='#') Contact Us]
            form(action='#' id='search')
                input(type='text' placeholder='Search')
                button(id='btn1') Submit    
        section#home 
            div#home1
                h1 Be Better 
                p This website is dedicated to help persons with disability and provide them support. 
                p “We could never learn to be brave and patient, if there were only joy in the world.”
                p -Hellen Keller
                button(id='btn2') Watch Now
        section#info 
            div.info1 
                img(src="/static/girl-6203126_1280.jpg")
                div.info2
                    h3 What is Down Syndrome? 
                    p Down syndrome is a condition in which a person has an extra chromosome. Chromosomes are small “packages” of genes in the body. They determine how a baby’s body forms and functions as it grows during pregnancy and after birth. Typically, a baby is born with 46 chromosomes. Babies with Down syndrome have an extra copy of one of these chromosomes, chromosome 21. A medical term for having an extra copy of a chromosome is ‘trisomy.’ Down syndrome is also referred to as Trisomy 21. This extra copy changes how the baby’s body and brain develop, which can cause both mental and physical challenges for the baby.
            div.info1 
                div.info2
                   h3 What is Physical Disablity? 
                   p A person with a physical disability is constrained by his physical ability to perform an activity independently such as walking, bathing, toiletting, etc. A person can be physically disabled due to two reasons: Congenital/Hereditary – the person has physical disability since birth or the disability developed at a later stage due to genetic problems, problems with muscle cells or injury during birth. Acquired – the person acquired the physical disability through road or industrial accidents, infections such as polio or diseases and disorders such as stroke or cancer.
                img(src="/static/with-special-needs-728522_1280.jpg")   
            div.info1 
               img(src="/static/brain-6916896_1280.png")
               div.info2
                   h3 What is Autism? 
                   pAutism spectrum disorder (ASD) is a developmental disability caused by differences in the brain. Some people with ASD have a known difference, such as a genetic condition. Other causes are not yet known. Scientists believe there are multiple causes of ASD that act together to change the most common ways people develop. We still have much to learn about these causes and how they impact people with ASD.
            div.info1 
                div.info2
                   h3 What is Dyslexia? 
                   p Dyslexia is a learning disability in reading. People with dyslexia have trouble reading at a good pace and without mistakes. They may also have a hard time with reading comprehension, spelling, and writing. But these challenges aren’t a problem with intelligence.
                img(src="/static/agenda-1355316_1280.jpg")
        section#vol 
            h1 Volunteer
            form(action='' method='' id='form1')
                label(for='name') Name:
                input(type='text' id='name' name='name' placeholder='Enter Name')
                label(for='email') Email:
                input(type='email' id='email' name='mail' placeholder='Enter email')
                label(for='num1') Age:
                input(type='number' id='age' name='num1' placeholder='Enter age')
                label(for name='gender') Gender:
                select(name="gender") 
                    option(value='Male') Male
                    option(value='Female') Female
                    option(value='others') Others
                label(for name='address') Address:
                textarea(name='address' id='add' placeholder=' Enter address' cols='30' row=' 30')
                label(for name='message') Reason for Volunteering:
                textarea(name='message' id='mes' placeholder=' Enter your reason' cols='30' row=' 30')
                button(id='btn3') Submit
    footer 
        p  Copyright@2023 Do Better.com | All rights reserved          