*{
    margin:0px;
    padding:0px;
}
html{
     scroll-behavior: smooth;
}

@import url('https://fonts.cdnfonts.com/css/verdana-pro-cond');

#navbar{
    font-family: 'Verdana Pro Cond', sans-serif;
    display: flex;
    margin-left: -2px;
    align-items: center;
    position: sticky;
    height: 77px;
    top: 0px;

}
#navbar img{
    height: 56px;

    width: 65px;
    padding: 3px;
    border-radius: 70px;
    margin-right: 22px;
    margin-top: 5px;
    margin-left: 9px;
}
#navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 23px;

}

#navbar ul a{
   
    margin: 15px;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 6px;
    border-radius: 11px;
    color: #d6193c;
    font-weight: bold;
}
#navbar ul a:hover{
   
    margin: 15px;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 6px;
    border-radius: 11px;
    color: white;
    background-color: rgb(255, 89, 89);
}
#search{

    display: flex;
    height: 42px;
    width: 258px;
    margin-left: 511px;
}

#search input{
    height: 28px;
    margin-right: 8px;
    border-radius: 12px;
}
#btn1{
    height: 31px;
    width: 60px;
    border-radius: 13px;
    cursor: pointer;
    background-color: rgb(255 211 211);
}
#btn1:hover{
    
        height: 31px;
        width: 60px;
        border-radius: 13px;
        cursor: pointer;
        background-color: rgb(252, 142, 142);
    
}

/* ------------------------------------------------------ */
#home{
    font-family: 'Verdana Pro Cond', sans-serif;
    
    height: 670px;
}
#home1{
  
    height: 660px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000052;
    font-weight: bold;
}
#home::before{
    content: '';
    position: absolute;
    top: 0px;
    opacity: 0.77;
    z-index: -1;
    height: 748px;
    margin-left: -2px;
    width: 1521px;
    background: url(static/temple-1166023_1280.jpg) no-repeat center center;
    background-size: cover;
}
#form4{
   
    margin-top: -267px;
    height: 76px;
    width: 131px;
    margin-left: 698px;
}

#btn2{
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
    cursor: pointer;
    width: 98px;
    border-radius: 8px;
    background-color: #f5b6b6;
    box-shadow: 3px 3px #994e99;
}
#btn2:hover{
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
    cursor: pointer;
    width: 98px;
    border-radius: 8px;
    background-color: #e88484;
    box-shadow: 3px 3px #993d99;
}
/* --------------------------------------------------------------- */

#info{
    font-family: 'Verdana Pro Cond', sans-serif;

    padding: 2px;
    display: flex;
    flex-direction: column;
    background-color: #cec1d1;
}

.info1{
   
    display: flex;
    padding: 18px;
    align-items: center;
    width: 1241px;
    margin: auto;
}
.info1 img{
 
    height: 205px;
    border-radius: 40px;
    margin-right: 39px;
    width: 310px;
}

.info2{
    font-size: 1.1rem;
}
.info2 h3{
    font-size: 2rem;
    margin-bottom: 21px;
}

/* --------------------------------------------------------------- */

#vol{
    font-family: 'Verdana Pro Cond', sans-serif;

    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#form1{

    display: flex;
    flex-direction: column;
    width: 853px;
    height: 636px;
    align-items: center;
    margin: 7px;
    font-size: 1rem;
}

#form1 input{
    width: 369px;
    height: 34px;
    border-radius: 8px;
    box-shadow: 2px 2px #f5bf6f;
}
textarea{
    width: 369px;
    height: 163px;
    border-radius: 8px;
    box-shadow: 2px 2px #f5bf6f;
}
#btn3{
    margin-top: 17px;
    height: 35px;
    width: 74px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #dbdbdb;
}
#btn3:hover{
    margin-top: 17px;
    height: 35px;
    width: 74px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #a0a0a0;
}

#vol::before{
    content: '';
    height: 694px;
    width: 1519px;
    opacity: 0.69;
    z-index: -1;
    position: absolute;
    top: 1712px;
    background: url(static/hand-1137978_1280.jpg)no-repeat center center;
    background-size: cover;
}

/* ------------------------------------------------------------- */

footer{
    font-family: 'Verdana Pro Cond', sans-serif;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 1519px;
    text-align: center;
    color: white;
    height: 33px;
    opacity: 0.9;
}